/*==============================================*/
/* default css start */
/*==============================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.wd-100 {
  width: 100%;
}

a {
  text-decoration: none !important;
}

p {
  /* color: #5E5E5E; */
  color: #000;
}

:root {
  --cs-primary: #92FDF2;
}

.press-effect:hover {
  box-shadow: 0 0 8px 2px #5e5e5e;
  transition: .2s all ease-in-out;
}

.press-effect:active {
  box-shadow: inset 0 0 10px #494949;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

/*==============================================*/
/* default css end */
/*==============================================*/

/*==============================================*/
/* header css end */
/*==============================================*/
a.navbar-brand.logo {
  width: 142px;
}

button.learning-btn {
  background: var(--cs-primary);
  border: none;
  display: block;
  padding: 15px 14px;
  border-radius: 3px;
  margin-left: 27px;
  text-transform: uppercase;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  color: #5E5E5E !important;
  font-size: 20px;
  text-transform: capitalize;
  text-transform: uppercase;
}

/* .navbar-brand{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand p{
  text-decoration: none;
  color: #000;
  padding-left: 30px;
  font-size: 20px;
 } */
.nav {
  display: flex;
  align-items: center;
}
.coa a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

/*==============================================*/
/* header css end */
/*==============================================*/

/*==============================================*/
/* banner css end */
/*==============================================*/
.banner {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 687px;
  display: flex;
  align-items: center;
}

.banner-content {
  text-align: center;
  background: #0000008f;
  padding: 55px 100px;
  border-radius: 10px;
  margin-top: 75px;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.banner-content h6 {
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
}

.banner-content a {
  display: inline-block;
  color: #000;
  font-weight: 600;
  background: var(--cs-primary);
  opacity: 1 !important;
  padding: 25px 50px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 30px;
}

.learn_more {
  color: #fff !important;
  background: #000 !important;
  opacity: 1 !important;
  margin-left: 20px;
}

/*==============================================*/
/* banner css end */
/*==============================================*/

/*==============================================*/
/* learn code css starts */
/*==============================================*/
.learn_code {
  padding: 30px 0px;
  background-color: #000;
}

.learn_code p {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}

.lean_code_button {
  text-align: end;
}

.btn-book {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--cs-primary);
  padding: 15px 40px;
  font-weight: 500;
}

.btn-leanmore {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 40px;
  font-weight: 500;
  color: #fff;
  margin-left: 20px;
}

.btn-leanmore:hover {
  color: #fff;
}

/*==============================================*/
/* learn code css ends */
/*==============================================*/


/*==============================================*/
/* about css start */
/*==============================================*/
section.about {
  padding: 80px 0;
  background: #F1F1F1;
}

.about-content h2 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
}

.about-content a {
  display: inline-block;
  color: #fff;
  background: var(--cs-primary);
  opacity: 1 !important;
  padding: 25px 50px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 40px;
  color: #000;
  border: 1px solid #6EF3E6;
}

/*==============================================*/
/* about css end */
/*==============================================*/

/*==============================================*/
/* customer review start css start */
/*==============================================*/
.cus-review {
  padding: 80px 0;
  background: var(--cs-primary);
}

.review-heading {
  text-align: center;
}

.review-heading h2 {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 40px;
}

.review-heading p {
  color: #000;
  padding: 0 140px;
}

.review-slider {
  margin-top: 65px;
}

.review-slider-single-item {
  text-align: center;
  background-color: #fff;
  padding: 25px;
  border: 2px solid #6EF3E6;
}

.review-slider-img {
  width: 96px;
  margin: 0 auto;
}

.review-slider-img img {
  border-radius: 50%;
}

.review-slider-single-item p {
  font-style: italic;
  margin: 18px 0;
  color: #000;
  font-size: 14px;
}

.review-slider-single-item h6 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.review-slider.owl-carousel .owl-dots {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

.review-slider.owl-carousel .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border: 1px solid #a0a1a5;
  background-color: #a0a1a5;
  border-radius: 50%;
  margin: 0 4px;
}

.review-slider.owl-carousel .owl-dots button.owl-dot.active {
  border: 1px solid #000;
  background-color: #000;
}

.slider-inner-section {
  margin-bottom: 20px;
}

.slider-inner-section .review-slider-img {
  max-width: 80px;
  margin-bottom: 8px;
}

.slider-inner-section p {
  font-size: 13px;
  margin: 0 0 12px;
}

.slider-inner-section h6 {
  font-size: 16px;
}

/*==============================================*/
/* customer review css end */
/*==============================================*/

/*==============================================*/
/* why-us css start */
/*==============================================*/
section.why-us {
  padding: 80px 0;
}

.why-us-heading {
  margin-bottom: 50px;
}

.why-us-heading.text-center h2 {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 40px;
}

.feature-item {
  padding: 30px 35px;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.04);
  margin: 0px 5px;
  border-radius: 5px;
  border-top: 2px solid #ED3330;
  display: flex;
  transition: .4s;
  margin-bottom: 20px;
}

.feature-icon {
  font-size: 40px;
  float: left;
  margin-right: 25px;
  color: #385777;
  margin-top: 5px;
  transition: .4s ease;
}

.feature-text {
  overflow: hidden;
}

.feature-item h4 {
  margin-bottom: 20px;
  transition: .4s;
}

/*==============================================*/
/* why-us css end */
/*==============================================*/

/*==============================================*/
/* why-us css end */
/*==============================================*/
.python-learn {
  padding: 80px 0;
  background: #F1F1F1;
}

.python-learn-content h2 {
  color: #000;
  font-weight: 600;
  font-size: 36px;
}

.python-learn-content h6 {
  margin: 20px 0px 45px;
  color: #535967;
  line-height: 28px;
  font-size: 16px;
}

.python-learn-content a {
  display: inline-block;
  color: #000;
  background: var(--cs-primary);
  opacity: 1 !important;
  padding: 25px 50px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #6EF3E6;
}

.feature-item.feature-style-4 {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid #0000001f;
  box-shadow: none;
  padding: 50px 20px;
}

.feature-item.feature-style-4 .feature-icon {
  float: none;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #FF1949;
}

.feature-item.feature-style-4 h4 {
  margin-bottom: 0px;
  font-size: 20px;
}

/*==============================================*/
/* why-us css end */
/*==============================================*/

section.course-tile {
  padding: 80px 0;
  background: #F1F1F1;
}

.course-box-image-container {
  overflow: hidden;
  max-height: 208px;
}

.course-box-image-container img {
  display: block;
  margin: auto;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1px solid #ededed;
  width: 100%;
}

.course-listing-title {
  color: #191919;
  line-height: 25px;
  padding: 16px 16px 4px 16px;
  font-weight: bold;
  font-size: 18px;
  max-height: 65px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.course-listing-subtitle {
  font-size: 16px;
  color: gray;
  padding: 5px 16px;
  font-weight: 200;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 60px;
}

.course-tile-box {
  background: #fff;
  height: 370px;
  border: 1px solid #fff;
  padding: 0px;
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 10px #f1f1f1;
}

center a.view-all-btn {
  display: inline-block;
  color: #fff;
  background: #ED3330;
  opacity: 1 !important;
  padding: 25px 50px;
  font-size: 20px;
  border-radius: 3px;
}

.course-tile-heading h2 {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

/*==============================================*/
/* footer css start */
/*==============================================*/
footer {
  padding: 60px 0 30px 0;
  background-color: #000;
}

.footer-logo h2 {
  color: #fff;
  margin-bottom: 22px;
  font-size: 28px;
  font-weight: 700;
}

.footer-logo p {
  color: #fff;
}

.connect-us h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 700;
}

.conntact-us h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 700;
}

.conntact-us ul li {
  margin-bottom: 20px;
  list-style: none;
}

.conntact-us ul li span {
  color: #fff;
}

.conntact-us ul li a {
  color: #fff;
  text-decoration: none;
}

footer hr {
  border-top: 1px solid #a4fbf330;
}

.f-copy.text-center p {
  color: #fff;
}

.connect-us ul li a {
  font-size: 18px;
  color: #fff;
  width: 35px;
  background: transparent;
  height: 35px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*==============================================*/
/* footer css end */
/*==============================================*/

/*==============================================*/
/* faq css start */
/*==============================================*/
section.faq {
  padding: 80px 0;
}

/*accordian start*/
.accordian {
  max-width: 100%;
  display: block;
  margin-top: 15px;
}


.accordian .card {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  background: #fff;
}

.accordian .card .card-header h3 {
  cursor: pointer;
  color: #ffffff;
  position: relative;
  background-color: #000;
  margin: 0;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
}


.accordian .card .card-header {
  position: relative;
  border: 0;
  background: none;
  padding: 0;
}

.accordian .card .card-header span {
  position: absolute;
  right: 20px;
  top: 12px;
  height: 25px;
  width: 25px;
  color: #000;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

.accordian .card .card-body {
  padding: 20px;
}

.accordian .card .card-body {
  display: none;
}

/*open one card by default*/
.accordian .card:nth-child(1) .card-body {
  display: block;
}

.accordian .card.card_two:nth-child(1) .card-body {
  display: none;
}

.accordian .card .card-body ul li {
  font-size: 15px;
  line-height: 45px;
  color: #444444;
  margin: 0px;
  list-style: none;
}

.accordian .card .card-body ul li:before {
  content: url('../images/checked.png');
  margin-right: 5px;
  color: #8d9aa5;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.card {
  position: static;
  width: 100%;
  height: auto;
  transform: translate(0);
  border-radius: 0;
  overflow: auto;
  box-shadow: none;
}

/*accordian start*/
/*==============================================*/
/* faq css end */
/*==============================================*/

/*==============================================*/
/* instructor css start */
/*==============================================*/
.instructor {
  padding: 80px 0;
}

.about-instructor h2 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
}

.instructor-img {
  width: 220px;
  margin-top: 35px;
}

.about-instructor h6 {
  font-size: 22px;
  font-weight: 600;
  margin: 5px 0 15px 0;
}

.instructor-img {
  margin-bottom: 30px;
}

.instructor-img video{
  
}

.about-instructor ul {
  margin-top: 22px;
}

.about-instructor ul li a {
  font-size: 18px;
  color: #ffffff;
  width: 35px;
  background: #ed3330;
  height: 35px;
  border: 1px solid #ed3330;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pricing {
  max-width: 460px;
  box-shadow: 0px 0px 10px #ddd;
  padding: 35px 25px;
  border-radius: 7px;
  margin: 0 auto;
}

.pricing-heading {
  text-align: center;
}

.pricing-heading h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: -0.361538px;
}

.price-value {
  height: 50px;
  font-size: 45px;
  margin-right: 8px;
  font-weight: 300;
}

ul.pricing-content li {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  list-style: none;
}

.pricing_button {

  text-align: center;
}

.btn-price {

  display: inline-block;

  color: #000;

  background: var(--cs-primary);

  opacity: 1 !important;

  padding: 10px 35px;

  font-size: 16px;

  border-radius: 3px;

  border: 1px solid #6EF3E6;

  margin-top: 10px;
}


/*==============================================*/
/* instructor css end */
/*==============================================*/

#back-to-top {
  background: #7afcf2;
}

#back-to-top svg {
  display: block;
  fill: currentColor;
  height: 30px;
  margin: 7px auto 0;
  width: 30px;
}